<% content_for :functional_nav do%>
<li><%= link_to 'Add', new_artist_path %></li>
<li><%= link_to 'Edit', edit_artist_path(@artist) %></li>
<li><%= link_to 'Back', artists_path %></li>
<li><%= link_to 'Destroy', @artist, method: :delete, data: { confirm: 'Are you sure?' } %></li>
<% end %>
<%= currently_at 'Artists'%>

<p>
  <b>First name:</b>
  <%= @artist.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @artist.last_name %>
</p>

<p>
  <b>Band:</b>
  <%= @artist.band %>
</p>

<p>
	<%= image_tag @artist.image_url.to_s %>
</p>

<p>
  <b>Destination:</b>	
	<%= link_to(destination(@artist.first_name,@artist.last_name,@artist.band), destination(@artist.first_name,@artist.last_name,@artist.band), :target => "_new") %> 
</p>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
