<% content_for :functional_nav do%>
<li><%= link_to 'Add', new_song_path %></li>
<% end %>
<%= currently_at 'Songs'%>

<table id="songs" class="display">
<thead>	
  <tr>
    <th>Rank</th>
    <th>Title</th>
    <th>Artist</th>
    <th>Genre</th>  
    <th>Released</th>      
  </tr>
</thead>
<tbody>
<% @songs.each do |song| %>
  <tr>
    <td><%= song.rank %></td>
    <td><%= link_to(song.name, song) %></td>
    <td><%= song.artist.full_name %></td>
    <td><%= song.genre.name %></td>    
    <td><%= decade(song.released_date.year) %></td>      
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Song', new_song_path %>
