<% content_for :main_navigation do %>
  	<nav id="main_nav" role="navigation">
    	<ul>
      		<%= nav_tab 'Home',    root_path,    current: current_tab %>
	  		<%= nav_tab 'Artists', artists_path, current: current_tab %>  

      		<%= nav_tab 'Songs',   songs_path,   current: current_tab %>
	  		<%= nav_tab 'Lyrics',  lyrics_path,  current: current_tab %>      
      		
      		<%= nav_tab 'Genres',  genres_path,  current: current_tab %>      
  		</ul>
  	</nav>
<% end %>