<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="author" content="Santi Soontarinka">        
        <title>
            <% if content_for?(:title) %>
                <%= yield :title %>
            <% else %>
                Music
            <% end %>
        </title>
        <%= stylesheet_link_tag    "application" %>
        <%= javascript_include_tag "application" %> 
        <%= csrf_meta_tags %>
    </head>
    <body>

        <%= render 'layouts/header' %>

        <div class="container">
            <section id="content">
                <%# START:notifications %>
                <% if notice %>
                    <p class="notification notice">
                        <%= notice %>
                    </p>
                <% end %>
                <% if alert %>
                    <p class="notification alert">
                        <%= alert %>
                    </p>
                <% end %>
                <%# END:notifications %>
                <%= yield %>
            </section>
        
            <section id="sidebar">
                <nav id="functional_nav">      	
                    <ul>
                        <%= yield :functional_nav %>
                    </ul>
                </nav>

                <%= yield :sidebar %>

            </section>

        </div> <!-- end of class container -->

        <%= render 'layouts/footer' %>
        
    </body>
</html>

